In [1]:
import pandas as pd

In [16]:
#NSE data was collected from 3-Jan-22 to 31-May-22

#Reading the data from a CSV and creating a DataFrame 
dataframe = pd.read_csv('./data/NSE_data_all_stocks_2022_jan_to_may.csv')

#Copying the data
df = dataframe.copy()

#Data contains the following features : Date, Code, Name, 12m Low, 12m High, Day Low, Day High, Day Price, Previous, Change
#Should we create a DataFrame for each company?(Choose data for 20 companies )
SCBK = df.loc[df.Code == 'SCBK']
SCBK

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
18,3-Jan-22,SCBK,Standard Chartered Bank Kenya Ltd,123,148.75,130,131,130,128.25,1.75,1.36%,"3,300",-
84,4-Jan-22,SCBK,Standard Chartered Bank Kenya Ltd,123,148.75,130,132,130.25,130,0.25,0.19%,"75,300",-
150,5-Jan-22,SCBK,Standard Chartered Bank Kenya Ltd,123,148.75,129.5,130,130,130.25,-0.25,0.19%,"14,500",-
216,6-Jan-22,SCBK,Standard Chartered Bank Kenya Ltd,123,148.75,130,133,130.75,130,0.75,0.58%,"9,100",-
282,7-Jan-22,SCBK,Standard Chartered Bank Kenya Ltd,123,148.75,130,131,130.5,130.75,-0.25,0.19%,"43,700",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6420,25-May-22,SCBK,Standard Chartered Bank Kenya Ltd,121,148.75,123.75,124,124,124.25,-0.25,0.20%,"78,600",-
6486,26-May-22,SCBK,Standard Chartered Bank Kenya Ltd,121,148.75,123.75,124.25,124,124,-,-,"70,400",-
6552,27-May-22,SCBK,Standard Chartered Bank Kenya Ltd,121,148.75,123.75,124,124,124,-,-,"40,200",-
6618,30-May-22,SCBK,Standard Chartered Bank Kenya Ltd,121,148.75,123.75,124.5,124,124,-,-,"44,700",-
6684,31-May-22,SCBK,Standard Chartered Bank Kenya Ltd,121,148.75,123.75,124.5,123.75,124,-0.25,0.20%,"97,400",-

In [14]:
# Company names
#ABSA
#KPLC
SCBK = df.loc[df.Code == 'SCBK']
#NCBA
NCBA = df.loc[df.Code == 'NCBA']
#SCOM
SCOM = df.loc[df.Code == 'SCOM']
#
SCBK = df.loc[df.Code == 'SCBK']
#TOTL
#KQ
# CIC
# BRIT
# BAMB
# COOP
# EQTY
# DTK
# JUB
# SBIC
# NBK
# NMG
# KEGN
#NSE
# MSC
SCOM

,Date,Code,Name,12m Low,12m High,Day Low,Day High,Day Price,Previous,Change,Change%,Volume,Adjusted Price
63,3-Jan-22,SCOM,Safaricom Plc,33.25,45.25,37.8,38.65,38.15,37.95,0.2,0.53%,"9,414,200",-
129,4-Jan-22,SCOM,Safaricom Plc,33.25,45.25,38.65,39.5,39.05,38.15,0.9,2.36%,"4,115,300",-
195,5-Jan-22,SCOM,Safaricom Plc,33.25,45.25,39,40,39.55,39.05,0.5,1.28%,"6,747,300",-
261,6-Jan-22,SCOM,Safaricom Plc,33.25,45.25,39.55,40.1,40,39.55,0.45,1.14%,"5,136,500",-
327,7-Jan-22,SCOM,Safaricom Plc,33.25,45.25,38.9,40,39.9,40,-0.1,0.25%,"4,576,700",-
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6465,25-May-22,SCOM,Safaricom Plc,25.5,45.25,26.5,27,26.55,26.35,0.2,0.76%,"7,833,200",-
6531,26-May-22,SCOM,Safaricom Plc,25.5,45.25,26.55,27.25,26.85,26.55,0.3,1.13%,"15,557,000",-
6597,27-May-22,SCOM,Safaricom Plc,25.5,45.25,26.3,27,26.45,26.85,-0.4,1.49%,"5,134,300",-
6663,30-May-22,SCOM,Safaricom Plc,25.5,45.25,26,26.8,26.25,26.45,-0.2,0.76%,"2,565,300",-
6729,31-May-22,SCOM,Safaricom Plc,25.5,45.25,25.95,26.45,26,26.25,-0.25,0.95%,"20,079,900",-