In [2]:
from sklearn import linear_model
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./data/train_u6lujuX_CVtuZ9i.csv')

In [7]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [6]:
#Dropped the column because has no use
df.drop(columns = ['Loan_ID'],inplace=True)

In [21]:
# drops all instances with NaN values
df.dropna(inplace=True)

In [34]:
# Removes the + sign 
df['Dependents']=df['Dependents'].str.replace('+','')
df.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
85,Male,No,0,Graduate,No,2366,2531.0,136.0,360.0,1.0,Semiurban,Y
352,Male,Yes,3,Graduate,No,2666,2083.0,95.0,360.0,1.0,Rural,Y
343,Male,Yes,3,Not Graduate,No,3173,0.0,74.0,360.0,1.0,Semiurban,Y
20,Male,Yes,0,Not Graduate,No,7660,0.0,104.0,360.0,0.0,Urban,N
372,Male,Yes,2,Graduate,Yes,9323,7873.0,380.0,300.0,1.0,Rural,Y

In [35]:
#Changing categorical data to numerical values / Can also use LabelEncoder
gender_mapping = {
    'Male':0,
    'Female':1
}

married_mapping ={
    'No':0,
    'Yes':1
}
education_mapping = {
    'Graduate':1,
    'Not Graduate':0
}
property_mapping = {
    'Rural':0,
    'Semiurban':1,
    'Urban':2
}
loan_mapping={
    'No':0,
    'Y':1
}
# Some type of encoding
df['Gender']=df['Gender'].replace(gender_mapping)
df['Married']=df['Married'].replace(married_mapping)
df['Education']=df['Education'].replace(education_mapping)
df['Property_Area']=df['Property_Area'].replace(property_mapping)
df['Loan_Status']=df['Loan_Status'].replace(loan_mapping)

In [36]:
df.sample(5)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
442,0,0,3,0,No,4707,1993.0,148.0,360.0,1.0,1,1
365,0,0,0,0,No,6216,0.0,133.0,360.0,1.0,0,N
87,0,1,0,1,No,2500,2118.0,104.0,360.0,1.0,1,1
269,1,0,1,1,No,2876,1560.0,90.0,360.0,1.0,2,1
132,0,0,0,1,No,2718,0.0,70.0,360.0,1.0,1,1